.about {
   padding-bottom: 96px;

   &-title {
      margin-bottom: 24px;
   }

   &-text {
      color: $black70;
   }

   &-video {
      width: 100%;
   }

   &-buttons {
      display: flex;
      @include flex-align(justify, bottom);
   }

   &-arrow-down {
      display: flex;
      @include flex-align(center, middle);
      @include size(88px, 88px);
      border: 1px solid $gray80;
      border-radius: 50%;
   }

   &-download {
      display: flex;
      @include flex-align(center, middle);
      flex-direction: column;
      @include size(224px, 224px);
      margin: 0 auto;
      background-color: $red;
      border-radius: 50%;
      @include font(14px, 16px, 700);
      color: $white;
      transition: .3s background-color;
      @include breakpoint(medium) {
         margin: 0;
      }

      &:hover {
         background-color: $redhover;
         color: inherit;
      }

      &:active {
         filter: sepia(20%);
      }

      &-arrow {
         margin-bottom: 16px;
      }

      &-info {
         @include font(12px, 16px);
         margin-top: 24px;
      }
   }
}