.address {
   padding-bottom: 120px;

   &-title {
      margin-top: 28px;

      @include breakpoint(medium) {
         margin-top: 96px;
      }

      @include breakpoint(large) {
         margin-top: 0;
      }
   }

   &-wrapper {
      width: 100%;
      padding: 23px;
      background-color: $black90;
      border-radius: 24px;

      @include breakpoint(medium) {
         padding: 32px;
      }
   }

   &-town {
      color: $red;
   }
}