.footer {
   border-top: 1px solid $white;
   padding: 24px 0 32px;

   .button {
      max-width: 320px;
      margin: 0 auto;

      @include breakpoint(medium) {
         min-width: 254px;
      }
   }

   .red-button-small {
      display: none;

      @include breakpoint(medium) {
         display: flex;
         flex-shrink: 0;
         margin-left: 34px;
      }
   }

   .social {
      justify-content: center;

      @include breakpoint(medium) {
         justify-content: start;
      }
   }

   &-year {
      text-align: center;

      @include breakpoint(medium) {
         text-align: left;
         margin-top: 80px;
      }
   }
}