.massmedia {
   position: relative;
   padding-bottom: 128px;

   &-title {
      margin-bottom: 32px;
   }

   &-item {
      display: flex;
      flex-direction: column;
      color: $white;
      border-radius: 24px;
      min-height: 284px;
      padding: 24px;
      background-color: $black90;
      transition: .3s background-color;

      &:hover {
         background-color: transparent;
         border: 1px solid $black90;

         h6 {
            color: $red;
         }
      }
   }

   &-container {
      display: flex;
      justify-content: space-between;
      margin-top: auto;
      @include font(12px, 16px);
      border-top: 1px solid $gray80;
      padding-top: 24px;
   }

   &-date {
      color: $black70;
   }

   &-sourse {
      color: $red;
   }
}