.massmedia {
   position: relative;
   padding-bottom: 128px;

   &-title {
      margin-bottom: 32px;
   }

   &-item {
      display: flex;
      flex-direction: column;
      border-radius: 24px;
      min-height: 284px;
      padding: 24px;
      background-color: $black90;
   }

   &-container {
      display: flex;
      margin-top: auto;
      justify-content: space-between;
      border-top: 1px solid $gray80;
      padding-top: 24px;
   }
}