.red-button {
   display: flex;
   width: 100%;
   height: 56px;
   justify-content: space-between;
   align-items: center;
   border-radius: 999px;
   padding: 0 16px;
   background-color: $red;
   color: $white;
   transition: background-color .3s;

   &-small {
      width: 56px;
      justify-content: center;
      padding: 0;
   }

   &:hover {
      background-color: $redhover;
      color: $white;
   }

   &:active {
      filter: sepia(20%);
   }
}