<section class="about">
   <div class="grid-x">
      <div class="cell small-12 medium-6 large-3">
         <h1 class="about-title">Группа digital компаний</h1>
         <p class="about-text">Помогаем российскому бизнесу зарабатывать больше с&nbsp;меньшими усилиями</p>
      </div>
      <video class="about-video" autoplay loop muted playsinline>
         <source src="{{root}}/assets/video/head-video.mp4" type='video/mp4;'>
      </video>
      <div class="cell about-buttons">
         <div class="show-for-medium about-arrow-down">
            <img src="{{root}}/assets/img/icons/arrow-left.svg">
         </div>
         <a class="about-download">
            <img class="about-download-arrow" src="{{root}}/assets/img/about/download-arrow.svg" alt="">
            <span>Презентация</span>
            <span>Digital Hub</span>
            <span class="about-download-info">PDF, 2.5 Мб</span>
         </a>
      </div>
   </div>
</section>