<section class="address">
   <div class="grid-x grid-margin-x grid-margin-y">
      <div class="cell small-12 large-6 large-order-1">
         <h5>ЦЕНТРАЛЬНЫЙ ОФИС</h5>
      </div>
      <div class="cell small-12 large-6 large-order-3">
         <div class="address-wrapper">
            <p class="address-town">Москва</p>
            <p>Гиляровского, 7</p>
         </div>
      </div>
      <div class="cell small-12 large-6 large-order-2">
         <h5 class="address-title">ПРЕДСТАВИТЕЛЬСТВА</h5>
      </div>
      <div class="cell small-12 medium-6 large-3 large-order-4">
         <div class="address-wrapper">
            <p class="address-town">Калининград</p>
            <p>Московский проспект, 174</p>
         </div>
      </div>
      <div class="cell small-12 medium-6 large-3 large-order-5">
         <div class="address-wrapper">
            <p class="address-town">Чебоксары</p>
            <p>Максима Горького, 10, С1</p>
         </div>
      </div>
      <div class="cell small-12 medium-6 large-3 large-offset-6 large-order-6">
         <div class="address-wrapper">
            <p class="address-town">Ставрополь</p>
            <p>Доваторцев, 54Б</p>
         </div>
      </div>
      <div class="cell small-12 medium-6 large-3 large-order-6">
         <div class="address-wrapper">
            <p class="address-town">Оренбург</p>
            <p>Чкалова, 39/1</p>
         </div>
      </div>
   </div>
</section>