<footer class="footer">
   <div class="grid-x grid-margin-x grid-margin-y align-middle">
      <div class="cell small-12 medium-6 large-3 large-order-3">
         <div class="social">
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-VK.svg" alt="ВК">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-WA.svg" alt="WhatsUp">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-FB.svg" alt="FB">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-IG.svg" alt="Inst">
            </a>
         </div>
      </div>
      <div class="cell flex-container small-12 medium-6 large-3 large-order-3">
         <a class="red-button" href="#">
            <p>Скачать презентацию</p>
            <img src="{{root}}assets/img/icons/arrow.svg" alt="">
         </a>
         <a class="red-button red-button-small" href="#">
            <img src="{{root}}assets/img/icons/mail.svg" alt="">
         </a>
      </div>
      <div class="cell small-12 large-6 large-order-1">
         <p>© Digital Hub, 2022</p>
      </div>
   </div>
</footer>