<section class="form">
    <form class="grid-x grid-margin-x">
        <div class="cell small-12 large-6">
            <a href="mailto:hello@thedigitalhub.ru">hello@thedigitalhub.ru</a>
            <a href="tel:+74954199130">+7 (495) 419-91-30</a>
        </div>
        <div class="cell small-12 large-6">
            <h1>Давайте познакомимся и&nbsp;обсудим, как мы&nbsp;можем помочь в&nbsp;достижении ваших целей</h1>
        </div>
        <input class="cell small-12 large-6" type=text" name="" id="" placeholder="Ваше имя">
        <input class="cell small-12 medium-6 large-6" type="email" name="" id="" placeholder="Телефон">
        <input class="cell small-12 medium-6 large-6" type="email" name="" id="" placeholder="Адрес эл. почты">
        <input class="cell small-12 large-6" type="email" name="" id="" placeholder="Описание задачи">
        <input class="cell small-12 medium-6 large-6" type="email" name="" id="" placeholder="Прикрепить файл">
        <button class="cell small-12 medium-4 medium-offset-6 red-button">Отправить письмо</button>
        <div class="cell small-12 medium-6">Нажимая кнопку &laquo;Отправить&raquo; вы&nbsp;даете согдласие на&nbsp;обработку персональных данных и&nbsp;подтверждаете политику обработки персональных данных</div>
    </form>
</section>