<header class="header">
   <img class="header-logo" src="{{root}}assets/img/header/logo.svg" alt="Digital Hub" />
   <div class="header-container">
      <a href="#">
         <img class="header-icon show-for-small-only" src="{{root}}assets/img/header/phone.svg" alt="Phone" />
         <a class="show-for-medium" href="tel:+74954199130">+7 (495) 419-91-30</a>
      </a>
      <a href="#">
         <img class="header-icon show-for-small-only" src="{{root}}assets/img/header/mail.svg" alt="Mail" />
         <a href="#">
            <img class="red-button red-button-small show-for-medium" src="{{root}}assets/img/icons/mail.svg">
         </a>
      </a>
   </div>
   <div class="header-fixed">
      TEST HEADER
   </div>
</header>