<section class="info">
   <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-6 large-2">
         <p class="text">Многолетняя экспертиза в&nbsp;digital не&nbsp;оставила нам задач, которые невозможно решить</p>
      </div>
      <div class="cell small-12 medium-12 large-8 large-offset-1">
         <h1 class="title">Разрабатываем и тестируем цифровые продукты, продвигаем товары, услуги, компании и людей, а также помогаем продавать на маркетплейсах</h1>
      </div>
   </div>
   <div class="grid-x grid-margin-x">
      <div class="cell small-12 medium-6 large-3 large-offset-3">
         <div class="item">
            <p class="amount">300+</p>
            <h5>успешных проектов<br>с&nbsp;нашим участием</h5>
         </div>
      </div>
      <div class="cell small-12 medium-6 large-3">
         <div class="item">
            <p class="amount">120+</p>
            <h5>профессионалов<br>в&nbsp;команде</h5>
         </div>
      </div>
      <div class="cell small-12 medium-12 large-3">
         <div class="item">
            <p class="amount">004</p>
            <h5>представительства<br>в&nbsp;России</h5>
         </div>
      </div>
   </div>
</section>