<section class="management">
   <div class="management-buttons">
      <div class="management-prev">
         <img src="{{root}}assets/img/icons/arrow-left.svg" alt="prev">
      </div>
      <div class="management-next">
         <img src="{{root}}assets/img/icons/arrow-right.svg" alt="next">
      </div>
   </div>
   <h1 class="management-title">Руководство</h1>
   <div class="management-slider">
      <div class="management-item">
         <div class="management-photo">
            <img src="{{root}}assets/img/management/ivan.png" alt="Иван Бормотов">
         </div>
         <h4 class="management-name">Иван Бормотов</h4>
         <p class="management-post">Digital Hub, руководитель</p>
         <div class="social">
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-VK.svg" alt="ВК">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-WA.svg" alt="WhatsUp">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-FB.svg" alt="FB">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-IG.svg" alt="Inst">
            </a>
         </div>
      </div>
      <div class="management-item">
         <div class="management-photo">
            <img src="{{root}}assets/img/management/genry.png" alt="Генрик Мкртчян">
         </div>
         <h4 class="management-name">Генрик Мкртчян</h4>
         <p class="management-post">Кодеры, руководитель</p>
         <div class="social">
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-VK.svg" alt="ВК">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-WA.svg" alt="WhatsUp">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-IG.svg" alt="Inst">
            </a>
         </div>
      </div>
      <div class="management-item">
         <div class="management-photo">
            <img src="{{root}}assets/img/management/igor.png" alt="Игорь Ниточкин">
         </div>
         <h4 class="management-name">Игорь Ниточкин</h4>
         <p class="management-post">Qualitica, руководитель</p>
         <div class="social">
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-VK.svg" alt="ВК">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-IG.svg" alt="Inst">
            </a>
         </div>
      </div>
      <div class="management-item">
         <div class="management-photo">
            <img src="{{root}}assets/img/management/kira.png" alt="Кира Шехтман">
         </div>
         <h4 class="management-name">Кира Шехтман</h4>
         <p class="management-post">Резалтика, руководитель</p>
         <div class="social">
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-VK.svg" alt="ВК">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-WA.svg" alt="WhatsUp">
            </a>
         </div>
      </div>
      <div class="management-item">
         <div class="management-photo">
            <img src="{{root}}assets/img/management/yakov.png" alt="Яков Миндеров">
         </div>
         <h4 class="management-name">Яков Миндеров</h4>
         <p class="management-post">Директор по продажам</p>
         <div class="social">
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-VK.svg" alt="ВК">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-WA.svg" alt="WhatsUp">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-FB.svg" alt="FB">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-IG.svg" alt="Inst">
            </a>
         </div>
      </div>
      <div class="management-item">
         <div class="management-photo">
            <img src="{{root}}assets/img/management/antonina.png" alt="Антонина Аверьянова">
         </div>
         <h4 class="management-name">Антонина Аверьянова</h4>
         <p class="management-post">Директор по персоналу</p>
         <div class="social">
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-VK.svg" alt="ВК">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-WA.svg" alt="WhatsUp">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-IG.svg" alt="Inst">
            </a>
         </div>
      </div>
      <div class="management-item">
         <div class="management-photo">
            <img src="{{root}}assets/img/management/kristina.png" alt="Кристина Радченко">
         </div>
         <h4 class="management-name">Кристина Радченко</h4>
         <p class="management-post">Главный бухгалтер</p>
         <div class="social">
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-VK.svg" alt="ВК">
            </a>
            <a class="social__link" href="#" target="_blank">
               <img class="social__icon" src="{{root}}assets/img/social/SOC-IG.svg" alt="Inst">
            </a>
         </div>
      </div>
    </div>
</section>