<section class="massmedia">
   <div class="slider-buttons">
      <div class="slider-buttons-prev massmedia-prev">
         <img src="{{root}}assets/img/icons/arrow-left.svg" alt="prev">
      </div>
      <div class="slider-buttons-next massmedia-next">
         <img src="{{root}}assets/img/icons/arrow-right.svg" alt="next">
      </div>
   </div>
   <h1 class="massmedia-title">Публикации в СМИ</h1>
   <div class="massmedia-slider">
      <a href="#" target="_blank">
         <div class="massmedia-item">
            <h6>Дружба вместо таргета, общение вместо рассылок: как привлечь узкую аудиторию в&nbsp;соцсетях</h6>
            <div class="massmedia-container">
               <span class="massmedia-date">10 декабря, 2020</span>
               <span class="massmedia-sourse">Sostav.ru</span>
            </div>
         </div>  
      </a>
      <a href="#" target="_blank">
         <div class="massmedia-item">
            <h6>Дружба вместо таргета, общение вместо рассылок: как привлечь узкую аудиторию в&nbsp;соцсетях</h6>
            <div class="massmedia-container">
               <span class="massmedia-date">10 декабря, 2020</span>
               <span class="massmedia-sourse">Sostav.ru</span>
            </div>
         </div>  
      </a>
      <a href="#" target="_blank">
         <div class="massmedia-item">
            <h6>Дружба вместо таргета, общение вместо рассылок: как привлечь узкую аудиторию в&nbsp;соцсетях</h6>
            <div class="massmedia-container">
               <span class="massmedia-date">10 декабря, 2020</span>
               <span class="massmedia-sourse">Sostav.ru</span>
            </div>
         </div>  
      </a>
      <a href="#" target="_blank">
         <div class="massmedia-item">
            <h6>Дружба вместо таргета, общение вместо рассылок: как привлечь узкую аудиторию в&nbsp;соцсетях</h6>
            <div class="massmedia-container">
               <span class="massmedia-date">10 декабря, 2020</span>
               <span class="massmedia-sourse">Sostav.ru</span>
            </div>
         </div>  
      </a>
   </div>
</section>