<!-- <section class="projects">
   <h2 class="projects__title main-text">Агентства и&nbsp;проекты группы</h2>

   <div class="projects__wrapper">
      <a class="projects__item projects__item--coders" target="_blank" href="#">
         <svg class="projects__logo projects__logo--coders projects__logo--light" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
            <path d="M125.416 92.4322L136.001 86.4421V54.0168L108.518 38.2598L97.8672 44.3151L125.416 60.0721V92.4322Z" fill="#16CFFE"/>
            <path d="M83.5326 131.954L69.4626 123.88L113.119 99.3337L107.859 90.2831L58.8772 117.825L46.911 110.989L115.289 71.987L110.029 62.9363L41.5854 101.938V88.0043L78.47 67.2339L73.2759 58.1833L41.5854 75.9587V60.0715L83.5326 36.1107L94.0522 30.0553L83.5326 24L31 54.0162V114.049L58.8114 129.936L72.9472 138.01L83.5326 144L135.999 114.049V101.938L125.414 107.993L83.5326 131.954Z" />
            </g>
         </svg>
         <p class="projects__name">Кодеры</p>
         <p class="projects__text small-text small-text--gray">Агентство<br>веб-разработки</p>
      </a>
      
      <a class="projects__item projects__item--quolitics" href="#" `target="_blank">
         <img class="projects__logo" src="{{root}}assets/img/projects/quolitics.svg" alt="Quolitics">
         <p class="projects__name">Кволитика</p>
         <p class="projects__text small-text small-text--gray">Агентство<br>тестирования</p>
      </a>

      <a class="projects__item projects__item--cutter" href="#" target="_blank">
         <svg class="projects__logo projects__logo--cutter projects__logo--dark" xmlns="http://www.w3.org/2000/svg">
            <path d="M107.438 95.3744C107.438 107.222 98.391 114 83.3191 114L83.2512 113.931C69.0788 113.931 61.6617 108.05 59.625 97.7026L71.8455 95.3054C73.0506 100.272 76.6488 102.842 83.7265 102.842C91.3133 102.842 94.8945 100.186 94.8945 95.3054C94.8945 90.4248 91.6358 87.8552 84.3035 87.8552C81.8116 87.9033 79.3291 88.1804 76.8864 88.683L73.9501 80.4049L90.244 67.9016H62.4594V56.8125H104.671V68.8847L90.8211 79.2322C100.648 79.6461 107.438 84.6129 107.438 95.3744Z" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M144 84C144 117.137 117.137 144 84 144C50.8629 144 24 117.137 24 84C24 50.8629 50.8629 24 84 24C117.137 24 144 50.8629 144 84ZM132.75 84C132.75 110.924 110.924 132.75 84 132.75C57.0761 132.75 35.25 110.924 35.25 84C35.25 57.0761 57.0761 35.25 84 35.25C110.924 35.25 132.75 57.0761 132.75 84Z" />
         </svg>
         <p class="projects__name projects__name--dark">Резалтика</p>
         <p class="projects__text small-text small-text--gray small-text--dark">Маркетинговое<br>агентство</p>
      </a>

      <a class="projects__item projects__item--sellers" href="#" target="_blank">
         <svg class="projects__logo projects__logo--light projects__logo--sellers" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M136 32H32V136H136V32ZM55.3995 66.6666C61.6219 66.6666 66.6661 61.6224 66.6661 55.4C66.6661 49.1776 61.6219 44.1333 55.3995 44.1333C49.1771 44.1333 44.1328 49.1776 44.1328 55.4C44.1328 61.6224 49.1771 66.6666 55.3995 66.6666Z" />
         </svg>
         <p class="projects__name">Селлеры</p>
         <p class="projects__text small-text small-text--gray">Агентство по&nbsp;работе<br>с&nbsp;маркетплейсами</p>
      </a>

      <a class="projects__item projects__item--wikiworks" href="#" target="_blank">
         <svg class="projects__logo projects__logo--wikiworks projects__logo--dark" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M104.771 93.7283L89.8 48H77.4032L62.3984 93.558L47.7661 48.1704H31L55.6581 120H68.3936L83.5339 75.1235L98.6742 120H111.24L136 48.1704H119.573L104.771 93.7283Z" />
         </svg>
         <p class="projects__name projects__name--dark">WikiWorks</p>
         <p class="projects__text small-text small-text--gray small-text--dark">Облачный сервис обучения<br>сотрудников</p>
      </a>
   </div>
</section> -->

<section class="projects">
   <div class="grid-x grid-margin-x grid-margin-y">
      <div class="cell small-12 large-3">
         <h1 class="projects-title">Агентства и&nbsp;проекты группы</h1>
      </div>
      <div class="cell small-12 medium-6 large-3">
         <a class="projects-link projects-link-coders" target="_blank" href="#">
            <img class="projects-logo" src="{{root}}assets/img/projects/coders.svg" alt="Coders">
            <h4 class="projects-name">Кодеры</h4>
            <p class="small-text small-text-gray">Агентство<br>веб-разработки</p>
         </a>
      </div>
      <div class="cell small-12 medium-6 large-3">
         <a class="projects-link projects-link-quolitics" target="_blank" href="#">
            <img class="projects-logo" src="{{root}}assets/img/projects/quolitics.svg" alt="Quolitics">
            <h4 class="projects-name">Кволитика</h4>
            <p class="small-text small-text-gray">Агентство<br>тестирования</p>
         </a>
      </div>
      <div class="cell small-12 medium-6 large-3">
         <a class="projects-link projects-link-resaltica" target="_blank" href="#">
            <img class="projects-logo" src="{{root}}assets/img/projects/resaltica.svg" alt="Resaltica">
            <h4 class="projects-name">Резалтика</h4>
            <p class="small-text small-text-gray">Маркетинговое<br>агентство</p>
         </a>
      </div>
      <div class="cell small-12 medium-6 large-3 large-offset-3">
         <a class="projects-link projects-link-sellers" target="_blank" href="#">
            <img class="projects-logo" src="{{root}}assets/img/projects/sellers.svg" alt="Sellers">
            <h4 class="projects-name">Селлеры</h4>
            <p class="small-text small-text-gray">Агентство по&nbsp;работе<br>с&nbsp;маркетплейсами</p>
         </a>
      </div>
      <div class="cell small-12 medium-6 large-3">
         <a class="projects-link projects-link-wikiworks" target="_blank" href="#">
            <img class="projects-logo" src="{{root}}assets/img/projects/wikiworks.svg" alt="Wikiworks">
            <h4 class="projects-name">WikiWorks</h4>
            <p class="small-text small-text-gray">Облачный сервис обучения<br>сотрудников</p>
         </a>
      </div>
   </div>
</section>